# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems are summarized.

Objectives:
- list of popular languages used in data science
- list of commonly used libraries in data science
- list of open source tools used in data science

Some commonly used languages in data science are:
1. Python
2. R
3. SQL

Some of the commonly used libraries in data science include:
1. Pandas
2. TensorFlow
3. Keras

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
# this is a simple arethimatic expression to multiply then add integers 
(3*4)+5

17

In [3]:
# This will convert 200 minutes in hours by dividing by 60
200/60

3.3333333333333335

## Author
Eric